* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body {
    background: white;
    padding-top: 100px;
}

/*------------ HEADER OBEN MIT RABATT UND LIEFERZEIT ------------*/
.ObererHeader {
    position: fixed; /* Fixiert den Header am oberen Rand */
    width: 100%;
    top: 0;
    left: 0;
    height: 34px;
    background: #242222; /* Hintergrund bleibt erhalten */
    opacity: 1; /* Transparenz bleibt erhalten */
    z-index: 201;
}

#RabattCall,
#Lieferzeit {
    position: absolute; /* Positioniert die Elemente exakt an der gleichen Stelle */
    top: 50%; /* Setzt beide in der Mitte des Containers */
    left: 50%;
    transform: translate(-50%, -50%); /* Zentriert sie sowohl horizontal als auch vertikal */
    text-align: center;
    font: normal normal normal 12px/16px "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0; /* Unsichtbar zu Beginn */
    visibility: hidden; /* Unsichtbar */
    transition: opacity 2s, visibility 2s; /* Übergang für die Sichtbarkeit */
    z-index: 202;
}

#RabattCall.show,
#Lieferzeit.show {
    opacity: 1; /* Sichtbar */
    visibility: visible; /* Sichtbar */
    transition: opacity 2s, visibility 2s; /* Übergang für die Sichtbarkeit */
    z-index: 202;
}

/*------------ MAIN HEADER ------------*/

.Menue {
    position: fixed; /* Fixiert das Menü direkt unter der ObererHeader */
    width: 100%;
    top: 34px; /* Damit es direkt unter der .ObererHeader bleibt */
    left: 0;
    height: 66px;
    background: #1A1919; /* Hintergrund bleibt erhalten */
    opacity: 1; /* Transparenz bleibt erhalten */
    z-index: 200;
    padding: 0 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* Burger-Icon links mit 16px Abstand und vertikal mittig */
.Menue .burger-icon {
    height: 50px;
    width: 50px;
    background-image: url('images/burger-advanced-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

/* Einkaufswagen-Icon ganz rechts mit 16px Abstand und vertikal mittig */
.Menue .einkauf-icon {
    height: 30px;
    width: 30px;
    background-image: url('images/bag-shopping-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Menue .einkauf-icon::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 153, 0);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    transform: translate(-10%, 10%); /* Justiert den Kreis etwas nach links unten */
    opacity: 0; /* Standardmäßig unsichtbar */
    transition: opacity 0.3s ease-in-out;
}

.Menue .einkauf-icon.has-items::after {
    opacity: 1; /* Wird sichtbar, wenn Produkte im Warenkorb sind */
}

/* Profil-Icon wird links neben dem Einkaufswagen-Icon positioniert */
/*.Menue .profil-icon {
    height: 30px;
    width: 30px;
    background-image: url('images/user-circle-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    right: 60px; /* 16px Abstand vom Einkaufswagen (40px + 16px) */
    /*top: 50%;
    transform: translateY(-50%);
}*/


/* Sakuraya-Logo mittig fixieren */
.Menue .sakuraya-logo {
    height: 25px;
    width: 200px;
    background-image: url('images/SakurayaLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: px;
}

/* Burger-Icon anzeigen mit formatierten Menü */
@media (max-width: 1024px) {
    .burger-icon {
        display: block;
    }
}

/* Das Seitenmenü - standardmäßig unsichtbar */
#side-menu {
    position: fixed;
    top: 100px;  /* Startposition direkt unter dem Header */
    left: 0;
    width: 100%;
    height: 100%; /* Höhe des gesamten Bildschirms */
    background-color: #242222;
    transform: translateY(-100%); /* Menü ist standardmäßig außerhalb des Bildschirms (nach oben verschoben) */
    transition: transform 0.3s ease-in-out;
    z-index: 99; /* Standard z-index */
    padding-top: 50px;
}

/* Anfangszustand der Menü-Punkte */
#side-menu a {
    opacity: 0;
    transform: translateY(-20px); /* Menü-Punkte starten leicht nach oben verschoben */
    transition: opacity 0.5s, transform 0.5s;
}

/* Die Links im Menü */
#side-menu ul {
    list-style-type: none;
    text-align: center;
}

#side-menu ul li {
    padding: 40px 0;
    
}

/* Standardzustand: Menü-Punkte sind unsichtbar */
#side-menu ul li a {
    color: white;
    text-decoration: none;
    font: normal normal normal 18px/16px "Roboto", sans-serif;
    text-transform: uppercase; /* Optional: Alle Buchstaben in Großbuchstaben */
    display: block;
    padding: 10px 0;
    opacity: 0; /* Anfangs unsichtbar */
    transform: translateY(-20px); /* Beginnt leicht nach oben verschoben */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Übergänge */
}

/* Die Links im Menü erscheinen, wenn das Menü geöffnet wird */
#side-menu.open ul li a {
    opacity: 1; /* Sichtbar */
    transform: translateY(0); /* Zur normalen Position verschieben */
}

/* @keyframes-Animation für das Einblenden */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Anfangszustand: Unsichtbar */
        transform: translateY(-20px); /* Beginnt leicht nach oben verschoben */
    }
    100% {
        opacity: 1; /* Endzustand: Voll sichtbar */
        transform: translateY(0); /* Normaler Zustand */
    }
}

/* Verzögerung hinzufügen für jeden Menüpunkt */
#side-menu.open ul li:nth-child(1) a {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.2s; /* Verzögerung für "Home" */
}

#side-menu.open ul li:nth-child(2) a {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.4s; /* Verzögerung für "Limited Edition" */
}

#side-menu.open ul li:nth-child(3) a {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.6s; /* Verzögerung für "Neu" */
}

#side-menu.open ul li:nth-child(4) a {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.8s; /* Verzögerung für "Bestseller" */
}

#side-menu.open ul li:nth-child(5) a {
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 1s; /* Verzögerung für "Kontakt" */
}


/* Optional: Hover-Effekt für die Links */
#side-menu ul li a:hover {
    color: #f0f0f0;
}

/* Burger-Icon und X-Icon */
.burger-icon {
    height: 50px;
    width: 50px;
    background-image: url('images/burger-advanced-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Stil für das Burger-Icon, wenn das Menü geöffnet ist (Ändert das Icon zu X) */
.burger-icon.open {
    background-image: url('images/xmark-svgrepo-com.svg');
}

/* Übergangseffekte */
/* Stil für das Menü, wenn es geöffnet ist */
#side-menu.open {
    transform: translateY(0); /* Menü kommt von oben nach unten ins Sichtfeld */
    z-index: 100; /* Menü wird über alles andere gelegt */
}

/*------------ BILDER KARUSSELL1 ------------*/

/* Grundlayout */
.StartScreen {
    width: 100%;
    height: 512px; /* Anpassbar */
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    
}

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Slides */
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column; /* Setzt die Reihenfolge von h1 und h2 in eine Spaltenrichtung */
    justify-content: center; /* Zentriert den Inhalt vertikal */
    align-items: center; /* Zentriert den Inhalt horizontal */
    text-align: center;
}

/* Overlay */
.overlay {
    position: absolute;  /* Positionierung über dem Bild */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Schwarzer Hintergrund mit 50% Transparenz */
    z-index: 1;  /* Overlay hat einen z-index von 1 */
}

/* Sichtbar machen des aktiven Slides */
.slide.active {
    opacity: 1;
}

/* Stil für h1 */
.slide h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;  /* Größere Schriftgröße, anpassbar */
    font-weight: bold;
    margin: 0px;  /* Entfernt die Standardabstände */
    padding: 0;  /* Entfernt die Standardabstände */
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}

/* Stil für h2 */
.slide h2 {
    font-family: "EB Garamond", serif;
    color: white;
    font-size: 32px;  /* Anpassen je nach Bedarf */
    font-weight: bold;
    margin: 0px;  /* Entfernt die Standardabstände */
    padding: 0;  /* Entfernt die Standardabstände */
    word-break: break-word;
    width: 250px;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}


/* Pfeile */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
    
}

.prev { left: 16px; }
.next { right: 16px; }

.prev-icon {
    width: 100%;
    opacity: 0.9;
    transform: scaleX(-1); /* Spiegelt den Pfeil für "prev" */
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}

.next-icon {
    width: 100%;
    opacity: 0.9;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}

/* Dots */
.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}

.dot {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}

.dot.active {
    background: white;
    z-index: 2;  /* Text wird über dem Overlay angezeigt */
}


/*------------ TEXT UND BUTTONS ÜBER BILDER KARUSSELL1 ------------*/

/* Box, die die Buttons enthält und in der Mitte oben positioniert ist */
.button-box {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand der Section */
    left: 50%;
    transform: translateX(-50%); /* Horizontale Zentrierung */
    width: auto;
    padding: 0 16px; /* Sicherstellung, dass die Buttons nicht aus dem Bildschirm ragen */
    z-index: 2;
}

/* Buttons Container */
.button-container {
    display: flex;
    align-items: center; /* Vertikale Zentrierung der Buttons */
    gap: 10px; /* Abstand von 10px zwischen den Buttons */
    justify-content: center; /* Zentriert die Buttons innerhalb der Box */
}

/* Start Button */
.start-btn {
    font-family: "Roboto", sans-serif;
    display: inline-flex; /* Flexbox bleibt für bessere Zentrierung */
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Entfernt die Standard-Unterstreichung von Links */
    background-color: rgba(36, 34, 34, 0.6);
    color: white;
    border: none;
    border-radius: 30px;
    height: 32px;
    width: 120px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

/* Hover-Effekt für Buttons */
.start-btn:hover {
    background-color: rgba(36, 34, 34, 1);
    transform: scale(1.05);
}

/* Container für den Button */
.StartScreenTextButton {
    position: absolute;
    bottom: 120px; /* Abstand vom oberen Rand (anpassbar) */
    left: 50%;
    transform: translateX(-50%); /* Exakte horizontale Zentrierung */
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* Styling für den "JETZT ENTDECKEN"-Button */
.startscreen-btn {
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.95); /* Weißer Hintergrund */
    color: #1A1919; /* Dunkle Schriftfarbe */
    border: none;
    border-radius: 0px; /* Viereckig */
    height: 50px; /* Höhe */
    width: 192px; /* Breite */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertikale Zentrierung */
    text-decoration: none;
}

/* Hover-Effekt für den "JETZT ENTDECKEN"-Button */
.startscreen-btn:hover {
    background-color: rgba(241, 141, 183, 0.95);; /* Hintergrund wird dunkel */
    color: #FFFFFF; /* Schriftfarbe wird weiß */
    box-shadow: 0px 0px 10px rgba(242, 176, 209, 0.3);
    text-decoration: none;
}

/*------------ SECTION "Sakuraya Info" ------------*/

#Ueber {
    scroll-margin-top: 80px; /* Scrollt 60px über das Ziel hinaus */
}

.SakurayaInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.UeberTextbereich {
    text-align: left;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    
}

/* Trennlinie unter der Section */
.SakurayaInfo::after {
    content: "";
    display: block;
    width: 0%; /* Start bei 0%, um die Animation sichtbar zu machen */
    height: 2px; /* Höhe der Linie */
    background-color: #9A7B69; /* Farbe der Linie */
    animation: expandLine 1.5s ease-out forwards;
    margin-top: 20px;
}

/* Keyframes für die Animation */
@keyframes expandLine {
    from {
        width: 15%; /* Startpunkt */
    }
    to {
        width: 90%; /* Endpunkt */
    }
}

@media (min-width:1025px) {

    /* Keyframes für die Animation */
    @keyframes expandLine {
        from {
            width: 15%; /* Startpunkt */
        }
        to {
            width: 100%; /* Endpunkt */
        }
    }
}

@media (min-width: 700px) and (max-width: 1025px) {
   
    /* Keyframes für die Animation */
   @keyframes expandLine {
        from {
            width: 15%; /* Startpunkt */
        }
        to {
            width: 600px; /* Endpunkt */
        }
    } 
}

.section-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #9A7B69;
}


.section-title {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #242222;
}

.section-text {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgba(24, 22, 22, 1);
}

/* 📌 Layout ab 1025px: Text links neben den Bildern */
@media (min-width: 1025px) {
    .SakurayaInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
        flex-wrap: wrap; /* Lässt Elemente umbrechen, falls nötig */
    }

    .UeberTextbereich {
        max-width: 800px;
        margin-right: 40px;
    }
}


/*------------ SECTION "NEUHEITEN" ------------*/
#Neu {
    scroll-margin-top: 80px; /* Scrollt 60px über das Ziel hinaus */
}

.Neuheiten {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Textbereich */
.Neuheiten-Textbereich {
    text-align: left;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.Neuheiten-Klein {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #9A7B69;

}

.Neuheiten-Groß {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #242222;
}

.NeuheitenText {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgba(24, 22, 22, 1)
}

/* Button */
.JetztShoppen {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: white;
    border: 1px solid rgba(24, 22, 22, 0.3);
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgba(24, 22, 22, 0.9);
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.JetztShoppen:hover {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: #363434;
    color: white;
    text-align: center;
    border-color: rgba(36, 34, 34, 1);
    margin-bottom: 20px;
}

@media (min-width: 1025px) {
    .JetztShoppen {
        display: none;
    }
}

/* Bildbereich */
.Neuheiten-Bilder {
    display: flex;
    gap: 24px; /* Abstand zwischen den Bildern */
    justify-content: center;
    width: 100%;
    max-width: 100%; /* Verhindert, dass der Container zu groß wird */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/* Bilder: Immer nebeneinander & proportional skalieren */
.Neuheiten-Bilder img {
    width: 100%; /* Skaliert mit der Box */
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Zoom-Effekt */
.Neuheiten-Bilder img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

/* 📌 Layout ab 1025px: Text links neben den Bildern */
@media (min-width: 1025px) {
    .Neuheiten {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
        flex-wrap: wrap; /* Lässt Elemente umbrechen, falls nötig */
    }

    .Neuheiten-Textbereich {
        max-width: 400px;
        margin-right: 40px;
    }

    .Neuheiten-Bilder {
        flex: 1;
        justify-content: flex-start;
        padding-top: 50px;
        gap: 40px;
    }

    .Neuheiten-Bilder img {
        max-width: 250px;
    }
}

/*------------ SECTION "NEUHEITEN" TEXT MIT PREIS ------------*/

/* Der Hauptcontainer für die Beschreibung */
.NeuheitenBeschreibung {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den beiden Bereichen */
    gap: 24px; /* Abstand zwischen den beiden Bereichen */
    width: 90%; /* gleiche Breite wie der Textbereich */
    max-width: 600px; /* gleiche maximale Breite wie der Textbereich */
    margin: 0 auto; /* Zentriert den Bereich */
    padding-top: 20px;
}

/* Linker Bereich (Provence Energy) */
.Beschreibung.linkerBereich {
    flex: 1; /* Flexibel */
}

/* Rechter Bereich (Tulipe Energy) */
.Beschreibung.rechterBereich {
    flex: 1; /* Flexibel */
}

/* Überschrift "Provence Energy" */
.Beschreibung h3 {
    font-family: "EB Garamond", serif;
    color: #242222;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Produktbeschreibung */
.Beschreibung p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    line-height: 16px;
    color: #333;
}

.Beschreibung.linkerBereich p {
    height: 45%;
}

.Beschreibung.rechterBereich p {
    height: 45%;
}

/* Preis- und MwSt-Bereich */
.PreisBereich {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

/* Preis */
.Preis {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    
}

/* MwSt */
.MwSt {
    font-size: 12px;
    color: #777;
    font-family: "Roboto", sans-serif;
}

/* SVG-Icon */
.PreisBereich img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Trennlinie */
.Beschreibung hr {
    border: none;
    height: 1px;
    background-color: #9A7B69;
    margin: 8px 0;
}

/* Literpreis */
.LiterPreis {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}

/* 📌 Layout ab 1025px */
@media (min-width: 1025px) {
    .NeuheitenBeschreibung {
        max-width: 520px; /* Begrenzte Breite */
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 464px; /* Drückt den Block nach rechts */
    }

    .Beschreibung {
        max-width: 240px;
    }
}

/*------------ SECTION "LIMITED EDITION" TEXT MIT PREIS ------------*/

#LEBereich {
    scroll-margin-top: 110px; /* Scrollt 60px über das Ziel hinaus */
}

.LimitedEditionBereich {
    background-color: #FAF9F7;
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Bild-Container für Hover-Zoom */
.LEBildContainer {
    width: 375px;  /* Standardgröße für Mobile */
    height: 375px;
    overflow: hidden; /* Verhindert, dass das gezoomte Bild über den Rahmen hinausragt */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.LEPreisContainer img {
    cursor: pointer;
}

/* Standard-Bildstil für kleine Bildschirme */
.LEBild {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Hover-Zoom (bleibt im Rahmen) */
.LEBild:hover {
    transform: scale(1.1); /* Leichtes Hineinzoomen */
}

/* 📌 Layout ab 1025px */
@media (min-width: 1025px) {
    .LEBildContainer {
        width: 984px; /* Breite für Desktop */
        height: 375px; /* Höhe für Desktop */
    }

    .LEBild {
        width: 100%;
        height: 400px;
        content: url('images/Firefly\ 3\ energy\ drink\ dosen\,\ Beige\ Hintergrund.png');
        
    }
}

/* Überschrift */
.EfMÜberschrift {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #9A7B69;
    font-size: 14px;
    margin-top: 20px;
}

.LEÜberschrift {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #242222;
}

.LEText {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: #242222;
    max-width: 375px;
    margin-top: 20px;
}

/* Preisbereich */
.LEPreisContainer {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.LEPreis {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #242222;
    margin-bottom: -1px;
    min-width: 80px;
}

.LEMwSt {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #242222;
    padding-left: 10px;
    min-width: 80px;
}

/* Warenkorb-Icon */
.LEWarenkorb3 {
    width: 24px;
    height: 24px;
    background-image: url('images/cart-plus-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 150px;
}

/* Trennlinie */
.LELinie {
    width: 330px;
    border-top: 1px solid #9A7B69;
    margin: 4px 0;
    margin-left: 40px;
    margin-right: 40px;
}

/* Beschreibung */
.LEBeschreibung {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: #242222;
    margin-bottom: 20px;
}

/* Bestellbutton */
.LEBestellen {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: #FAF9F7;
    border: 1px solid rgba(24, 22, 22, 0.3);
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgba(24, 22, 22, 0.9);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.LEBestellen:hover {
    background: #363434;
    color: white;
    border-color: rgba(36, 34, 34, 1);
}

/* Größere Textbreite ab 1025px */
@media (min-width: 1025px) {
    .EfMÜberschrift {
        margin-top: 40px;
    }
    .LEText {
        max-width: 600px;
    }

    .LELinie {
        width: 350px;
    }
}


/*------------ SCROLL UP Button ------------*/

/* Scroll-Up Button Styling */
#scrollUpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #242222;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 150;
}

/* SVG im Button */
#scrollUpBtn img {
    width: 70%;
    height: 70%;
    z-index: 151;
}

/* Button sichtbar */
#scrollUpBtn.show {
    opacity: 1;
    visibility: visible;
}

/*------------ BESTSELLER BILDER UND ÜBERSCHRIFT TEXT - Part 1 ------------*/

.Bestsellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Textbereich */
.Bestseller-Textbereich {
    text-align: left;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.Bestseller-Klein {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #9A7B69;

}

.Bestseller-Groß {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #242222;
}

.BestsellerText {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgba(24, 22, 22, 1)
}

/* Bildbereich */
.Bestseller-Bilder1 {
    display: flex;
    gap: 24px; /* Abstand zwischen den Bildern */
    justify-content: center;
    width: 100%;
    max-width: 100%; /* Verhindert, dass der Container zu groß wird */
    padding-left: 20px;
    padding-right: 20px;
}

.Bestseller-Bilder2 {
    display: flex;
    gap: 24px; /* Abstand zwischen den Bildern */
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%; /* Verhindert, dass der Container zu groß wird */
    padding-left: 20px;
    padding-right: 20px;   
}

/* Wrapper für das Bild – hält die Box auf 300x300px */
.bestseller-image-wrapper {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1; /* Stellt sicher, dass das Bild immer quadratisch bleibt */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bilder füllen die Box */
.Bestseller-Bilder2 img, 
.Bestseller-Bilder1 img {
    width: 100%; /* Skaliert mit der Box */
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Zoom-Effekt */
.Bestseller-Bilder2 img:hover, 
.Bestseller-Bilder1 img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

/* 📌 Layout ab 1025px: Text links neben den Bildern */
@media (min-width: 1025px) {
    .Bestsellers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
        flex-wrap: wrap; /* Lässt Elemente umbrechen, falls nötig */
    }

    .Bestseller-Textbereich {
        max-width: 400px;
        margin-right: 40px;
    }

    .Bestseller-Bilder1 {
        flex: 1;
        justify-content: flex-start;
        padding-top: 50px;
        gap: 40px;
        display: flex;
    }

    .Bestseller-Bilder2 {
        flex: 1;
        justify-content: flex-end;
        padding-top: 50px;
        gap: 40px;
        display: flex;
        margin-left: 440px;
    }

    .Bestseller-Bilder1 img {
        max-width: 250px;
        max-height: 250px;
    }

    .Bestseller-Bilder2 img {
        max-width: 250px;
        max-height: 250px;
    }

    .bestseller-image-wrapper {
        width: 100%;
        max-width: 250px; /* Anpassung für kleinere Bilder auf größeren Screens */
        aspect-ratio: 1 / 1;
    }
}

/*------------ BESTSELLER BEREICH TEXT und PREIS ------------*/

#BSellerID {
    scroll-margin-top: 80px; /* Scrollt 60px über das Ziel hinaus */
}



.BestsellerBeschreibung1 {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den beiden Bereichen */
    gap: 24px; /* Abstand zwischen den beiden Bereichen */
    width: 90%; /* gleiche Breite wie der Textbereich */
    max-width: 600px; /* gleiche maximale Breite wie der Textbereich */
    margin: 0 auto; /* Zentriert den Bereich */
    padding-top: 20px;
}

.BestsellerBeschreibung2 {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den beiden Bereichen */
    gap: 24px; /* Abstand zwischen den beiden Bereichen */
    width: 90%; /* gleiche Breite wie der Textbereich */
    max-width: 600px; /* gleiche maximale Breite wie der Textbereich */
    margin: 0 auto; /* Zentriert den Bereich */
    padding-top: 20px;
}

/* Linker Bereich (Camélia Boost) */
.Beschreibung.linkerBereich1 {
    flex: 1; /* Flexibel */
}

/* Rechter Bereich (Zestador) */
.Beschreibung.rechterBereich1 {
    flex: 1; /* Flexibel */
}

/* Linker Bereich (Camélia Boost) */
.Beschreibung.linkerBereich2 {
    flex: 1; /* Flexibel */
}

/* Rechter Bereich (Zestador) */
.Beschreibung.rechterBereich2 {
    flex: 1; /* Flexibel */
}

/* Überschrift "Provence Energy" */
.Beschreibung h3 {
    font-family: "EB Garamond", serif;
    color: #242222;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Produktbeschreibung */
.Beschreibung p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: #242222;
    margin-bottom: 10px;
    line-height: 20px;
}

.Beschreibung.linkerBereich1 p {
    height: 45%;
}

.Beschreibung.rechterBereich1 p {
    height: 45%;
}

.Beschreibung.linkerBereich2 p {
    height: 45%;
}

.Beschreibung.rechterBereich2 p {
    height: 45%;
}

/* Preis- und MwSt-Bereich */
.PreisBereich {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

/* Preis */
.Preis {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    
}

/* MwSt */
.MwSt {
    font-size: 12px;
    color: #777;
    font-family: "Roboto", sans-serif;
}

/* SVG-Icon */
.PreisBereich img {
    width: 20px;
    height: 20px;
}

/* Trennlinie */
.Beschreibung hr {
    border: none;
    height: 1px;
    background-color: #9A7B69;
    margin: 8px 0;
}

/* Literpreis */
.LiterPreis {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    font-family: "Roboto", sans-serif;
    padding-bottom: 40px;
}

/* 📌 Layout ab 1025px */
@media (min-width: 1025px) {
    .BestsellerBeschreibung1 {
        max-width: 520px; /* Begrenzte Breite */
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 464px; /* Drückt den Block nach rechts */
    }

    .BestsellerBeschreibung2 {
        max-width: 520px; /* Begrenzte Breite */
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 464px; /* Drückt den Block nach rechts */
    }

    .Beschreibung {
        max-width: 240px;
    }
}


/*------------ WARENKORB ------------*/

/* Gemeinsame Formatierung für beide Pop-ups (Warenkorb und Bestellbestätigung) */
.popup {
    font-family: "EB Garamond", serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 700px;
    max-width: 800px;
    overflow-y: auto;
    background: rgba(24, 22, 22, 0.9);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    scrollbar-width: none; /* Für Firefox */
}

.popup::-webkit-scrollbar {
    display: none;
}

.overlayWK {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.produkt {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    flex-direction: row;
}

.produkt span {
    display: block;
    margin-bottom: 5px;
}

.produkt img {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.produkt img.produkt-bild {
    width: 120px; /* Bildgröße anpassen */
    height: auto;
    margin-right: 20px;
}

.produkt-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.produkt-info span {
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Buttons nach rechts ausrichten */
    gap: 10px;
    margin-top: 20px;
}

.button {
    font-family: "Roboto", sans-serif;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border: none;
    border-radius: 0px;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #242222;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgba(241, 141, 183, 1);
    color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(242, 176, 209, 0.3);
}

.popup h2 {
    font-family: "EB Garamond", serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

/* Schließen-Button im Warenkorb Pop-up */
#schließen-warenkorb {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1010;
}

#schließen-warenkorb:hover {
    opacity: 0.9;
    background-color: rgb(250, 39, 50);
}

.gesamtpreis {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: right;
}

/* Schließen-Button im Bestellbestätigung Pop-up */
#bestaetigung-schliessen {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1010;
}

#bestaetigung-schliessen:hover {
    opacity: 0.9;
    background-color: rgb(250, 39, 50);
}

.popup-inhalt {
    font-family: "EB Garamond", serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    max-width: 800px;
    max-height: 500px;
}

.popup-inhalt h2 {
    font-family: "EB Garamond", serif;
    margin-bottom: 20px;
    font-size: 32px;
}

.popup-inhalt p {
    margin-top: 20px;
}

.popup-inhalt p strong {
    font-family: "Roboto", sans-serif;
}

.popup-inhalt p span {
    font-size: 14px;
}

/*------------ Hover bei den Warenkorb Icons ------------*/

[id^="Produkt"] {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    transform-origin: center;
}

[id^="Produkt"]:hover {
    transform: scale(1.2);
    transform-origin: center;
}


/*------------ FOOTER ------------*/

/* 🌑 Erster Bereich: Newsletter */
.footer-newsletter {
    background-color: #1A1919;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer-newsletter h2 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-newsletter p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-newsletter a {
    color: #c2a07d;
    text-decoration: none;
}

.footer-newsletter a:hover {
    text-decoration: underline;
}

.footer-newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-newsletter input {
    font-family: "Roboto", sans-serif;
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border: none;
    font-style: italic;
    background-color: #2c2b2b;
    color: white;
    margin-bottom: 15px;
}

.footer-newsletter button {
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.95); /* Weißer Hintergrund */
    color: #1A1919; /* Dunkle Schriftfarbe */
    border: none;
    border-radius: 0px; /* Viereckig */
    height: 40px; /* Höhe */
    width: 140px; /* Breite */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-newsletter button:hover {
    background-color: rgba(241, 141, 183, 0.95); /* Hintergrund wird dunkel */
    color: #FFFFFF; /* Schriftfarbe wird weiß */
    box-shadow: 0px 0px 10px rgba(242, 176, 209, 0.3);
}

/* 🌕 Zweiter Bereich: Social Media & Copyright */
.footer-bottom {
    background-color: #242222;
    text-align: center;
    padding: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.6;
}

.footer-bottom p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}
